Repository contiamo/operational-scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: node index.js toc, node index.js prettify, node index.js lint-ts

.lintstagedrc:

{
    "*.md": [
      "node index.js toc",
      "node index.js prettify",
      "git add"
    ],
    "*.json": [
      "node index.js prettify",
      "git add"
    ],
    "*.(tsx|ts)": [
        "node index.js lint-ts",
        "node index.js prettify",
        "git add"
    ],
    "*.(jsx|js)": [
        "node index.js prettify",
        "git add"
    ]
  }

1.1.1
  package.json
Due: node index.js prettify

Expose `process.env.GIT_VERSION` in the application
  webpack.config.js
Due: none

Refactor the implem and also provide the version to the html
  webpack.config.js
Due: none

Refactor to be more readable
  webpack.config.js
Due: none

Convert functions to arrow functions
  webpack.config.js
Due: none

Add a newline to the end of the .gitignore file
  install.js
Due: none

1.1.2
  package.json
Due: node index.js prettify

Avoid the double version processing
  webpack.config.js
Due: none

Add chunkhash for cache busting
  webpack.config.js
Due: none

Only override npm scripts if they do not contain defaults
  __tests__/install.test.js
  install.js
  jest.config.js
  package.json
Due: node index.js prettify

Update install.js
  install.js
Due: none

Fix dev server and jest config
  dangerfile.ts
  index.js
  jest.config.js
  package.json
  webpack.config.js
  yarn.lock
Due: node index.js prettify

1.1.2-fixes
  package.json
Due: node index.js prettify

Fix JSON stringify parameters
  __tests__/install.test.js
  install.js
Due: none

Update jest.config.js
  jest.config.js
Due: none

1.1.3
  package.json
Due: node index.js prettify

Add CI
  .travis.yml
  package.json
Due: node index.js prettify

Add test and lint scripts
  package.json
Due: node index.js prettify

Get test output
  package.json
Due: node index.js prettify

Update README
  README.md
Due: node index.js toc, node index.js prettify

1.1.4
  package.json
Due: node index.js prettify

Invoke the webpack config function if its a function
  webpack.config.js
Due: none

Update documentation
  README.md
Due: node index.js toc, node index.js prettify

Update README.md
  README.md
Due: node index.js toc, node index.js prettify

Fixes #29: add public path to dev server
  webpack.config.js
Due: none

1.1.5-add-public-path
  package.json
Due: node index.js prettify

1.1.6-add-public-path
  package.json
Due: node index.js prettify

Fix property for server content
  webpack.config.js
Due: none

1.1.6-content-base
  package.json
Due: node index.js prettify

1.1.7-content-base
  package.json
Due: node index.js prettify

Add public path and cache busting
  webpack.config.js
Due: none

1.1.8-alpha.0
  package.json
Due: node index.js prettify

Trim whitespace on gitignore
  install.js
Due: none

Add overlay, and copy assets
  package.json
  webpack.config.js
Due: node index.js prettify

Add manual chunk sorting
  package.json
  webpack.config.js
Due: node index.js prettify

Add content hash
  package.json
  webpack.config.js
Due: node index.js prettify

Revert version
  package.json
Due: node index.js prettify

Document a bit
  webpack.config.js
Due: none
