Repository contiamo/operational-scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: node index.js toc, node index.js prettify, node index.js lint-ts

Add node compatibility
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .gitignore
  CODE_OF_CONDUCT.md
  __tests__/install.test.js
  package.json
  yarn.lock
Due: node index.js toc, node index.js prettify

Update formatting on CoC
  CODE_OF_CONDUCT.md
Due: node index.js toc, node index.js prettify

1.2.0
  package.json
Due: node index.js prettify

Disable doctoc by default
  .lintstagedrc
  assets/.lintstagedrc
Due: none

1.3.0
  package.json
Due: node index.js prettify

Bye bye carets!
  package.json
  yarn.lock
Due: node index.js prettify

Update package.json
  package.json
Due: node index.js prettify

Fix lint-staged dep
  index.js
  package.json
  yarn.lock
Due: node index.js prettify

Security audit
  package.json
  yarn.lock
Due: node index.js prettify

remove danger-plugin-jest
  dangerfile.ts
  package.json
  yarn.lock
Due: node index.js prettify

1.4.0-a53652a
  package.json
Due: node index.js prettify

1.4.0-44cad96
  package.json
Due: node index.js prettify

update webpack-dashboard
  package.json
  yarn.lock
Due: node index.js prettify

1.4.0-15c08d0
  package.json
Due: node index.js prettify

1.4.0-1c795b9
  package.json
Due: node index.js prettify

Use source maps and latest ES in dev mode
  tsconfig.dev.json
  tsconfig.prod.json
  webpack.config.js
Due: node index.js prettify

Allow unused variables in dev mode
  tsconfig.dev.json
Due: node index.js prettify

Update webpack.config.js
  webpack.config.js
Due: none

check for unused variables in developement
  tsconfig.dev.json
Due: node index.js prettify

use incremental flag
  tsconfig.json
Due: node index.js prettify

1.4.0-d29efea
  package.json
Due: node index.js prettify

1.4.0-7a9edc4
  package.json
Due: node index.js prettify

add tsconfigs to npm package
  package.json
Due: node index.js prettify

1.4.0-064998b
  package.json
Due: node index.js prettify

1.4.0-b938445
  package.json
Due: node index.js prettify

update typescript, remove tsconfig.prod.json in favour of tsconfig.json
  package.json
  tsconfig.prod.json
  webpack.config.js
  yarn.lock
Due: node index.js prettify

1.4.0-58e27a8
  package.json
Due: node index.js prettify

replace tslint with eslint
  .eslintrc.js
  README.md
  dangerfile.ts
  index.js
  install.js
  package.json
  tslint.json
  yarn.lock
Due: node index.js toc, node index.js prettify

Lint in CI
  dangerfile.ts
  package.json
Due: node index.js prettify

eslint
  .travis.yml
  dangerfile.ts
Due: none

1.4.0
  package.json
Due: node index.js prettify

Enable multy-tenancy: remove slash from operational scripts basepath
  webpack.config.js
Due: none

2.0.0
  package.json
Due: node index.js prettify

Fix prehook on window + lastest version of nodejs
  assets/pre-commit
Due: none

2.0.1
  package.json
Due: node index.js prettify

Update stack
  .eslintrc.js
  README.md
  assets/.lintstagedrc
  babel.config.js
  dangerfile.ts
  index.js
  install.js
  jest.config.js
  package.json
  tsconfig.dev.json
  tsconfig.jest.json
  tsconfig.json
  tslint.json
  webpack.config.js
Due: node index.js toc, node index.js prettify

Remove ci script
  .travis.yml
Due: none

Path conditions:
  node index.js toc: any of: *.md
  node index.js prettify: (((any of: *.md) or (any of: *.json)) or (any of: *.(tsx|ts))) or (any of: *.(jsx|js))
  node index.js lint-ts: any of: *.(tsx|ts)
