Repository contiamo/operational-scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: node index.js toc, node index.js prettify, node index.js lint-ts

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: node index.js toc, node index.js prettify

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: node index.js toc, node index.js prettify

Create LICENSE
  LICENSE
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: node index.js toc, node index.js prettify

Create PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: node index.js toc, node index.js prettify

Initial Commit
  README.md
Due: node index.js toc, node index.js prettify

Update README
  README.md
Due: node index.js toc, node index.js prettify

Fix public path and chunk ordering
  webpack.config.js
Due: none

1.0.1
  package.json
Due: node index.js prettify

Update PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: node index.js toc, node index.js prettify

Hoist legacy artefacts and fix path in precommit
  assets/pre-commit
  install.js
Due: none

Fix test script
  jest.config.js
  package.json
  tsconfig.jest.json
Due: node index.js prettify

Prerelease script and add legacy artefacts
  install.js
  package.json
Due: node index.js prettify

Bump version
  package.json
Due: node index.js prettify

1.0.2
  package.json
Due: node index.js prettify

Deal with PowerShell fallback
  install.js
Due: none

Skip git step if no git env
  install.js
Due: none

Replace symlink by copy file
  install.js
Due: none

Improve the gitignore consolidation
  install.js
Due: none

Deal with no scripts set case
  install.js
Due: none

Improve the install gitignore step
  install.js
Due: none

Add format files step
  install.js
Due: none

Update install.js
  install.js
Due: none

1.1.0-1
  package.json
Due: node index.js prettify

Fix jest config, clean up postinstall artefact removal
  install.js
  tsconfig.jest.json
Due: node index.js prettify

Remove tests from tsc
  tsconfig.json
Due: node index.js prettify

1.1.0
  package.json
Due: node index.js prettify

1.1.0-2
  package.json
Due: node index.js prettify

Fix silent failure on postinstall
  install.js
Due: none

1.1.0-3
  package.json
Due: node index.js prettify

Fix catch syntax
  install.js
  package.json
Due: node index.js prettify

1.1.0-4
  package.json
Due: node index.js prettify

Update .gitignore to include lib and dist
  .gitignore
Due: none

1.1.0-5
  package.json
Due: node index.js prettify

Regenerate a clean gitignore
  .gitignore
Due: none

Add a proper comment on injected gitignore values
  install.js
Due: none

Include `/lib` in npm by default
  install.js
Due: none

Path conditions:
  node index.js toc: any of: *.md
  node index.js prettify: (((any of: *.md) or (any of: *.json)) or (any of: *.(tsx|ts))) or (any of: *.(jsx|js))
  node index.js lint-ts: any of: *.(tsx|ts)
